<div>
  <h2>List of Musics</h2>
  <table>
    <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>YouTube URL</th>
    </tr>
    </thead>
    <tbody>
      @for(music of musics; track $index; let e = $even; let o = $odd) {
        <tr [ngClass]="{'even': e, 'odd': o}">
          <td class="clickable" (click)="openInYoutube(music.youtubeUrl)">{{music.title}}</td>
          <td>{{music.type}}</td>
          <td>{{music.youtubeUrl}}</td>
          <td><app-delete-music [music]="music" (deletedMusic)="onMusicDeleted($event)"></app-delete-music></td>
        </tr>
      }
    </tbody>
  </table>
</div>
