button {
  width: 100%;
  padding: 10px;
  background-color: #af4c4c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-top: 10px;
  align-self: center;
}

button:hover {
  background-color: #f46a6a;
}
