div.addVoteForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

form label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
  width: 100%;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

button {
  width: 50%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-top: 10px;
  align-self: center;
}

button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  opacity: 0.6;
}

button:hover {
  background-color: #45a049;
}

div.success {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #e1edd4;
  color: #2b5715;
  border: 1px solid #d1e6c3;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  font-family: Arial, sans-serif;
}

div.error {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #edd4d4;
  color: #571515;
  border: 1px solid #e6c3c3;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  font-family: Arial, sans-serif;
}

a.asterisk {
  color: red;
}
